
@{
    ViewData["Title"] = "Index";
}

<h2>Time Tracking</h2>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div>Arrival Time</div>
                <div class="input-group date" id="StartTime" data-target-input="nearest">
                    <input type="text" id="test" class="form-control datetimepicker-input" data-target="#StartTime" />
                    <div class="input-group-append" data-target="#StartTime" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div>Bed Time</div>
                <div class="input-group date" id="BedTime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#BedTime" />
                    <div class="input-group-append" data-target="#BedTime" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div>Departure Time</div>
                <div class="input-group date" id="EndTime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#EndTime" />
                    <div class="input-group-append" data-target="#EndTime" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h5 id="Total">Please Calculate Total</h5>
        </div>
        <div class="col-sm-3">
            <button id="Calc" type="button" class="btn btn-success float-right">Calculate Time</button>
        </div>
    </div>

@section scripts{ 
<script type="text/javascript">
    $(function () {
        $('#StartTime').datetimepicker({
            icons: {
                time: "far fa-clock"
            }
        });
        $('#BedTime').datetimepicker({
            icons: {
                time: "far fa-clock"
            }
        });
        $('#EndTime').datetimepicker({
            icons: {
                time: "far fa-clock"
            }
        });


        $('#Calc').click(function () {
            var startTime = $('#StartTime').datetimepicker('viewDate').format('M-D-YYYY h:mm:ss a');
            var bedTime = $('#BedTime').datetimepicker('viewDate').format('M-D-YYYY h:mm:ss a');
            var endTime = $('#EndTime').datetimepicker('viewDate').format('M-D-YYYY h:mm:ss a');

            $.ajax({
                type: "GET",
                url: "/invoice/GetInvoicePrice/",
                data: { StartTime: startTime, BedTime: bedTime, EndTime: endTime },
                success: function (result) {
                    $("#Total").text("$" + result.toFixed(2) + " owed for tonight"); 
                },
                error: function () {
                    alert('error');
                }
            });
        })
    });
</script>
}